/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.logo-container {
    max-width: 1200px;
    margin: 0 auto;
}

.logotipo {
    max-width: 100%;
}

.parallax {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.parallax2 {
    background-color: #fff; /* Color de fondo alternativo */
    padding: 100px 0;
    text-align: center;
}

.parallax3 {
    background-color: #f0f0f0; /* Color de fondo alternativo */
    padding: 100px 0;
    text-align: center;
}

.overlay-text {
    text-align: center;
    color: #fff;
    z-index: 1;
}

.overlay-text h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.overlay-text p {
    font-size: 1.5em;
    max-width: 600px;
    margin: 0 auto 30px;
}

.cta-button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #e55c00;
}

.stats {
    display: flex;
    justify-content: center;
}

.stat-item {
    text-align: center;
    margin: 0 20px;
}

.stat-number {
    font-size: 3em;
    font-weight: bold;
    color: #333;
}

.stat-description {
    font-size: 1.2em;
    color: #666;
    margin-top: 10px;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-item {
    text-align: center;
    margin: 0 20px;
}

.cta-img {
    max-width: 100px;
    margin-bottom: 20px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #fff;
    font-size: 1.5em;
    margin: 0 10px;
}