/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos específicos para el header */
header {
    position: relative;
    height: 100px;
    background-color: #DDF4FF;
    padding: 10px 20px; 
}

.logo-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.logotipo {
    height: 150px;
}

/* Estilos para la primera sección de parallax */
.parallax {
    background-color: #DDF4FF;
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; /* Asegúrate de que .parallax tenga una posición relativa */
}

.niña {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: auto;
    z-index: 1;
}

.overlay-text {
    position: absolute;
    top: 250px;
    left: 20px;
    transform: translateY(-50%);
    color: #000;
    padding: 20px;
    text-align: left;
}

.overlay-text h1 {
    font-size: 48px;
    font-weight: bold;
}

.overlay-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.cta-button:hover {
    background-color: #45a049;
}

/* Estilos para la segunda sección de parallax */
.parallax2 {
    background-color: #FAFAFA;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%;
}

.stat-item {
    text-align: center;
}

.stat-number {
    font-size: 24px;
    font-weight: bold;
    color: #6AA84F;
}

.stat-description {
    font-size: 14px;
    color: #333;
}

/* Estilos para la tercera sección de parallax */
.parallax3 {
    background-color: #FFF2F3;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para la sección de llamada a la acción (cta) */
.cta {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%;
}

.cta-item {
    text-align: center;
    max-width: 300px;
}

.cta-img {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}

/* Estilos para el footer */
.footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #f1f1f1;
    color: #333;
    position: relative;
    bottom: 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para el footer */
.footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #f1f1f1;
    color: #333;
    position: relative;
    bottom: 0;
}

